@import "styles/partials/_variables";

.scrolled .redux-toastr {
  .top-left,
  .top-right,
  .top-center {
    @include media-breakpoint-down(lg) {
      top: calcrem(32px);
    }
  }
}

.redux-toastr {
  .top-left,
  .top-right,
  .top-center,
  .bottom-left,
  .bottom-right,
  .bottom-center {
    position: fixed;
    z-index: 1001;
    transition: 300ms ease;
  }

  .top-left,
  .top-right,
  .top-center {
    top: calcrem(32px);

    @include media-breakpoint-up(md) {
      top: calcrem(32px);
    }
  }

  .bottom-left,
  .bottom-right,
  .bottom-center {
    bottom: 15px;
  }

  .top-left,
  .bottom-left {
    left: 15px;
  }

  .top-right,
  .bottom-right {
    right: 15px;
  }

  .top-center,
  .bottom-center {
    top: 50%;
  }

  .toastr {
    display: flex;
    overflow: hidden;
    width: 290px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;

    &.rrt-success {
      background: tc("foreground", "success");
    }

    &.rrt-error {
      background: tc("foreground", "error");
    }

    .rrt-left-container {
      display: none;
    }

    .rrt-middle-container {
      color: tc("foreground", "light1");
      font-family: $font-primary;
      font-weight: 700;

      .rrt-title {
        padding-right: 30px;
        margin-bottom: 10px;
        font-size: 14px;
      }

      .rrt-text {
        font-size: 12px;
        font-weight: 500;
      }
    }

    .rrt-right-container {
      position: absolute;
      top: 20px;
      right: 20px;

      .close-toastr {
        padding: 0;
        border: 0;
        margin: 0;
        color: tc("foreground", "light1");
        background: none;
        outline: none;
        font-weight: 700;
        cursor: pointer;
        appearance: none;
      }
    }

    .rrt-progress-container {
      display: flex;
      width: 100%;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;

      .rrt-progressbar {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
