@import "styles/partials/_variables";

.Page {
  border: none;
  background-color: transparent;
  padding: 0;

  &:hover {
    color: tc("primary", "lightBlue");
    cursor: pointer;
  }
}

.Page__active {
  color: tc("primary", "lightBlue");
}

.Page__disabled {
  color: tc("foreground", "light4");

  &:hover {
    cursor: not-allowed;
  }
}
