@import "styles/partials/_variables";

.Header {
  background-color: #fff;
  height: $header-mobile-height;
  padding: calcrem(36px) calcrem(24px);

  @include media-breakpoint-up(md) {
    height: $header-height;
  }

  @include media-breakpoint-up(lg) {
    padding: calcrem(36px) calcrem(32px);
  }

  @include media-breakpoint-up(xl) {
    padding: calcrem(42px) calcrem(106px);
  }
}
