@import "styles/partials/_variables";

.Link {
  background: transparent;
  border: none;
  font-size: 14px;
  transition: color 0.15s ease-in-out;
  padding: 0;

  &:hover {
    color: tc("primary", "lightBlue");
    cursor: pointer;
  }
}

.Link__active {
  color: tc("primary", "lightBlue");
  cursor: none;
}

.Link__inactive {
  color: tc("foreground", "light4");
  cursor: not-allowed;
}
